#Functions, Multi Arguent Functions

In [1]:
def func():
  var = "This is a Function whose function is to print this line"
  print(var)

func()

This is a Function whose function is to print this line

In [2]:
def op(a):
  b = a + 9
  print(b)

op(5)

14

In [3]:
def tp(a,b):
  c = a + b
  print(c)


tp(5,10)

15

In [8]:
def thp(a,b,c):
  var = a + b - c
  print(var)

thp(1,2,4)

-1

In [13]:
def name(firstname,middlename,lastname):
  fullname = "{} {} {}".format(firstname,middlename,lastname)
  print(fullname)

name(lastname="Jameel",firstname="Syed",middlename='Taha')

Syed Taha Jameel

In [18]:
def mult_args(*args):
  print(list(args))

mult_args(1,2.2,3,4,54,5,48,4,21,2,1211,1)

[1, 2.2, 3, 4, 54, 5, 48, 4, 21, 2, 1211, 1]

In [23]:
def names(*args):
  print("My name is ", args[0])

names('Taha','Ali','hamza','umer')

My name is  Taha

In [25]:
def func2(**kwargs):
  print(kwargs)

func2(first = 'Syed', number = 1, boolean = True)

{'first': 'Syed', 'number': 1, 'boolean': True}

In [29]:
def fnc3(**kwargs):
  for key,value in kwargs.items():
    print("{} :- {}".format(key,value))

fnc3(one = 1, two = 2 , three = 3, four = 4)

one :- 1
two :- 2
three :- 3
four :- 4

In [32]:
def out_func():
  print("This is the outer function")
  def in_func():
    print("This is the inner function")
  in_func()

out_func()

This is the outer function
This is the inner function

In [34]:
def num(a):
  def num1(b):
    return a*b
  return num1


solve = num(3)
print(solve(2))

6

#Some Builtin Functions

In [40]:
var = "python"
var1 = list(var)
print(var1)
var2 = list(reversed((var1)))
print(var2)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

In [43]:
var1 = ['first','second','third']
var2 = [1,2,3]

var3 = zip(var1,var2)
print(dict(var3))

{'first': 1, 'second': 2, 'third': 3}

In [74]:
num = [12,54,8,1,5,4185,4185,4,51,15,5,54,8,645,484,1]
od = sorted(num)

i = 0
while i < len(od)-1:

  if od[i] == od[i+1]:
    print("same number",od[i])
    od.pop(i+1)
  else:
    i+=1

print(od)

same number 1
same number 5
same number 8
same number 54
same number 4185
[1, 4, 5, 8, 12, 15, 51, 54, 484, 645, 4185]

In [75]:
a = lambda x: x**2
print(a(2))

4

In [82]:
b = lambda *args : sum(args)
print(b(1,2,3,4,5,6,7,8,9,10))

55