#Lab-03- Syed Taha Jameel

# Task 1 Age Group Classifier

In [ ]:

age = int(input("Enter your Age: "))
if age >= 0 and age <= 12:
  print("You are a child")
elif age >= 13 and age <= 19:
  print("You are a teenager")
elif age >= 20 and age <= 59:
  print("You are an adult")
else:
  print("You are a senior")

Enter your Age: 12
You are a child

# Task 2 Grading System

In [3]:
score = int(input("Enter your score: "))
if score >= 90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "F"
print(f"Your grade is {grade}.")

Enter your score: 90
Your grade is A.

# Task 3 Skipping even number using continue

In [ ]:
for i in range(1,11):
  if (i % 2 == 0):
    continue
  print(i)

1
3
5
7
9

#Task 4 Breaking Loop using certain condition (break)

In [ ]:
while True:
  num = eval(input("Enter a number: "))
  if num < 0:
    print("loop terminated")
    break

Enter a number: -1.02
loop terminated

# Task 5 Using Pass

In [15]:
def check_even(number):
  if number % 2 == 0:
    pass
  else:
    print("odd nuumber")


num = int(input("Enter a number"))
check_even(num)

Enter a number3
odd nuumber

# Task 6 Using enumerate

In [ ]:
fruits = ["apple","banana", "cherry"]
for index, fruit in enumerate(fruits):
  print(f"{index}:{fruit}")


# Using while loop
counter = 5
while counter > 0:
  print(f"Countdown: {counter}")
  counter-=1

0:apple
1:banana
2:cherry
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1

# Increment Decrement

In [ ]:
a = 5
a = a ++ 1
print(a)
a = a -- 1
print(a)
a = a +- 1
print(a)
a = a -+ 1
print(a)

6
7
6
5

In [ ]:
# Case 1: ++1
num = 5
num += 1  # Increment by 1
print(f"After ++1, num = {num}")

# Case 2: --1
num = 5
num -= 1  # Decrement by 1
print(f"After --1, num = {num}")

# Case 3: +-1
num = 5
num += 1  # Increment by 1
num -= 1  # Decrement by 1
print(f"After +-1, num = {num}")

# Case 4: -+1
num = 5
num -= 1  # Decrement by 1
num += 1  # Increment by 1
print(f"After -+1, num = {num}")

After ++1, num = 6
After --1, num = 4
After +-1, num = 5
After -+1, num = 5

In [ ]:
i = 5
ipp = ++ i
print(ipp)

ipp = -- i
print(ipp)

ipp = +- i
print(ipp)

ipp = -+ i
print(ipp)

5
5
-5
-5

# Task 7 Login Authentication

In [ ]:
username = input("ENter username : ")
password = input("ENter Password : ")

if username == "admin":
  if password =="abcd":
    print("access granted")
  else:
    print("wrong password")
else:
  print("wrong username")

ENter username : admin
ENter Password : abcd
access granted

# Task 8 nested loop- multiplication table

In [ ]:
for i in range(1,11):
  for j in range(1,2):
    print(f"{j} x {i} = {i*j}", end="\t")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

# Task 9 generating squared numbers

In [4]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Task 10 filtering even numbers

In [12]:
num = range(1,21)
even_num = [i for i in num if i % 2 == 0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Task 11 using an iterator

In [13]:
var = [1,2,3,4]
var1 = iter(var)
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))

1
2
3
4