#1.Function

In [ ]:
def add_number (a,b):
  return a+b

result = add_number(5,10)
print(result)

15

# Task

> Write a function to find the factorial of a number.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


var = int(input("Enter Number to find factorial : "))
print(factorial(var))

Enter Number to find factorial : 4
24

#2. Functions and Variable Scope

In [ ]:
x =10
def example_func():
  y = 5
  print("inside Function: ",y)

example_func()
print("Outside Function: ",x)

inside Function:  5
Outside Function:  10

# Task

> Create a function where a local variable and a global variable have the same
name. Print both values

In [10]:
var = 10

def func(n):
  var = n-1
  return var

a = int(input("Enter Number : "))
b = func(a)
print(b,var)

Enter Number : 12
11 10

#3. Lambda Function

In [ ]:
cube = lambda x : x*x*x
print("Cube of 3 is ",cube(3))

Cube of 3 is  27

# Task

>Write a lambda function to check if a number is even or odd.

In [2]:
even = lambda x :x%2==0
print("check even: ", even(2))

check even:  True

#4. Filter and map

In [ ]:
numbers = [1,2,3,4,5]
squared_numbers = list(map(lambda x:x**2, numbers))
print("Squared numbers:" ,squared_numbers)

even_numbers = list(filter(lambda x:x%2==0, numbers))
print("Even numbers:" ,even_numbers)

Squared numbers: [1, 4, 9, 16, 25]
Even numbers: [2, 4]

#Task

>Use map() to convert a list of temperatures from Celsius to Fahrenheit.

>Use filter() to extract prime numbers from a list.

In [23]:
# USING MAP TO CONVERT CELCIUS TO FARENHEIT

temp_celcius = [0, 10, 20, 30, 40, 50]
conv_temp = list(map(lambda x:(x*9/5)+32, temp))
print("Temperatue in Farenheit is:", conv_temp)


# USING FILTER TO FIND PRIME NUMBERS

numbers = [1,2,3,4,5,6,7,8,9,10]

def prime(n):

  if n < 2:
    return False
  for i in range(2,int(n ** 0.5) + 1):
    if n % i==0:
      return False

  return True


prime_num = list (filter(prime, numbers))
print("\nPrime numbers in the given list are: ",prime_num)

Temperatue in Farenheit is: [32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

Prime numbers in the given list are:  [2, 3, 5, 7]

#5. Nested Function

In [4]:
def outer_function():
 def inner_function():
   print("Hello from inner function!")
 inner_function()
outer_function()

Hello from inner function!

#Task

> Write a function that has an inner function to calculate the square of a number.

In [ ]:
def outer():
  def inner(n):
    a = n**2
    return a
  return inner(5)

print(outer())

25

#6. Reading and Writing to a text file

In [ ]:
#writing

with open("aitest.txt","w") as file:
  file.write("Hello, AI lab!")

with open("aitest.txt","r") as file:
  content = file.read()
  print("File Content: ",content)

File Content:  Hello, AI lab!

#Task

> Write a Python program to read a CSV file and print its content.

In [27]:
with open("testing.csv","r") as file:
  content = file.read()
  print("CSV FILE Content: ", content)

CSV FILE Content:  Invoice Signing and Receiving Registration Form,,,,,,,
Order,Supplier,Date,Invoice No.,Amount,Item,Delivery date,Signature
1,Syed Taha Jameel,21/5/2025,0100101,250000,18,22/5/2025,STJ
2,,,,,,,
3,,,,,,,
4,,,,,,,
5,,,,,,,
6,,,,,,,
7,,,,,,,
8,,,,,,,
9,,,,,,,
10,,,,,,,
11,,,,,,,
12,,,,,,,
13,,,,,,,
14,,,,,,,
15,,,,,,,
16,,,,,,,
17,,,,,,,
18,,,,,,,
19,,,,,,,
20,,,,,,,
,,,,,,,

#7. Exception Handling

In [ ]:
try:
  num = int(input("Enter a number: "))
  print("Reciprocal:",1/num)

except ZeroDivisionError:
  print("Cannot divide by zero")

except ValueError:
  print("Invalid input ")

Enter a number: a
Invalid input

# Task


> Handle multiple exceptions: divide by zero and type errors.

In [ ]:
try:
  num = int(input("Enter a number: "))
  print("Reciprocal:",num/0)

except ZeroDivisionError:
  print("Cannot divide by zero")

except TypeError:
  print("Invalid type ")

Enter a number: 50
Cannot divide by zero

#8. Classes and Objects

In [5]:
class Car:
 def __init__(self, brand, model):
  self.brand = brand
  self.model = model
 def display_info(self):
  print(f"Car: {self.brand} {self.model}")
my_car = Car("Tesla", "Model S")
my_car.display_info()

Car: Tesla Model S

#Task

> Create a class for "Student" with attributes name and age and a method to display
student details.

In [9]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def stud_detail(self):
    print(f"Student: {self.name} {self.age}")

First_Student = Student("Taha", "22")
First_Student.stud_detail()

Student: Taha 22